.invoice-list-group{
  padding-bottom: 1.2rem;
  padding-top: .8rem;
  font-size: 1rem;
  border-bottom: solid 2px #cecece ;
}

.invoice-actions{
  display: flex;
  justify-content: space-around;
  padding: .8rem 0;
}
