.invoice-list-group{
  padding-bottom: 1.2rem;
  padding-top: .8rem;
  font-size: 1rem;
  border-bottom: solid 2px #cecece ;
}

.invoice-actions{
  display: flex;
  justify-content: space-around;
  padding: .8rem 0;
}

.trigger-part{
  cursor: pointer;
}

.hidden-part{
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.hidden-part .show-hidden{
  max-height: 5rem !important ;
}

#items .item-row .add-item{
  visibility: hidden;
}
#items .item-row:last-child .add-item{
  visibility: visible;
}
